*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none
}
a{
	text-decoration: none;
}
#white{
	width:100%;
	height:130px;
	background-color: white;

}
#lead{
	width:1180px;
	height:130px;
	margin-left: 85px;
	margin:0 auto;
}
#line{
	width:1180px;
	height:25px;
}
#bang{
	font-size: 12px;
	color:#9a9791;
	margin-top:7px;
	float:left;
}
.picqq{
	width:19px;
	height:19px;
	margin-right: 17px;
	margin-top: 4px;
	margin-left:360px;
	border-radius: 1px;
	background:url(img/common_min.png) 0 -31px;
	float:left;
}
.picweixin{
	width:19px;
	height:19px;
	margin-right: 17px;
	margin-top: 4px;
	border-radius: 1px;
	background:url(img/common_min.png) 0 -53px;
	float:left;
}
.picsina{
	width:19px;
	height:19px;
	margin-right: 17px;
	margin-top: 4px;
	border-radius: 1px;
	background:url(img/common_min.png) 0 -75px;
	float:left;
}
.word{
	margin-right: 17px;
	font-size: 13px;
	margin-top: 4px;
	color:#9a9791;
	float:left;
}
.wordfinal{
	margin-right: 5px;
	font-size: 13px;
	margin-top: 4px;
	color:#9a9791;
	float:left;
}
.picmail{
	width:19px;
	height:20px;
	margin-top: 4px;
	border-radius: 1px;
	background:url(img/common_min.png) -4px -113px no-repeat;
	float:left;
}
.picorder{
	width:19px;
	height:20px;
	margin-top: 4px;
	border-radius: 1px;
	float:left;
}
.picorder img{
	width:15px;
	height:15px;
}
.picphone{
	margin-top: 4px;
	border-radius: 1px;
	float:left;
	margin-right: 0.7px;
}
.num{
	font-size: 12;
	font-weight: bolder;
	color:#fe6c00;
	margin-top: 2px;
	float:left;
}
#search{
	height:105px;
	margin:0 auto;
}
#search img{
	margin-top: 15px;
	float:left;
}
.so{
	width:585px;
	float: left;
	margin-left: 108px;
	margin-top: 30px;
	border-radius: 2px;
	margin-right: 88px;
}
.so input{
	width: 500px;
	height:34px;
	border: 3px solid #fe6c00;
	float:left;
}
.bot{
	width:79px;
	height:40px;
	font-size: 18px;
	color:white;
	background-color: #fe6c00;
	float:left;
	text-align: center;
	line-height: 40px;
}
.gray{
	width:84px;
	height:38px;
	border:1px solid #e6e5e2;
	border-radius: 2px;
	float:left;
	margin-top: 30px;
	text-align: center;
}
.picone{
	width: 15px;
	height:14px;
	background:url(img/common_min.png) -4px -98px no-repeat;
	margin:0 auto;
	margin-top: 6px;
}
.gray p{
	font-size: 12px;
	color:#9a9791;
	margin-top: 4px;
}
.pictwo{
	width: 15px;
	height:14px;
	background:url(img/common_min.png) -4px -113px no-repeat;
	margin:0 auto;
	margin-top: 6px;
}
.org{
	width:84px;
	height:38px;
	border:1px solid #e6e5e2;
	border-radius: 2px;
	float:left;
	margin-top: 30px;
	text-align: center;
	background-color: #ff4d04;
}
.picthree{
	width: 15px;
	height:14px;
	background:url(img/common_min.png) -4px -133px no-repeat;
	margin-top: 15px;
	margin-left: 7px;
	float:left;
}
.org p{
	color: white;
	font-size: 14px;
	float:left;
	margin-top:12px;
}
.liebiao{
	width:556px;
	height:13px;
	margin-left: 7px;
	float:left;
}
.liebiao li{
	float:left;
	padding-right: 6px;
	padding-left: 6px;
	height: 16px;
	font-size: 13px;
	margin-top:9px;
	border-right:1px solid #ebe7e7;
}
.last{
	float:left;
	font-size: 13px;
	margin-top:8px;
	margin-left: -4px;
}
.black{
	color:#666560;
}
.red{
	color:red;
}
.blue{
	color:#aca9d3;
}
.hei{
	width:100%;
	height:40px;
	background-color: black;
}
.shouye{
	width:1180px;
	height:40px;
	margin:0 auto;
}
.pink{
	width:95px;
	height:40px;
	font-size:14px;
	background-color:#fe0d4a;
	text-align: center;
	line-height: 40px;
	color:white;
	float:left;
}
.hot li{
	float:left;
	text-align: center;
	line-height: 40px;
	color:white;
	margin-left: 39px;
	margin-right: 33px;
	font-size: 14px;
}
.shouye img{
	margin-left: 38px;
	float:left;
}
.zhong{
	height:670px;
	width:100%;
	background-color: #f6f5f4;
}
.neirong{
	height:670px;
	width:1180px;
	background-color: #f6f5f4;
	margin:0 auto;
}
.zi{
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
}
.jianjie{
	height:630px;
	width:1180px;
	margin:0 auto;
	float:left;
}
.left{
	width:995px;
	height:630px;
	background-color: white;
	float:left;
}
.picture{
	width:450px;
	height:630px;
	float:left;
}
.sun1{
	width:408px;
	height:408px;
	border:1px solid #d0cdc7;
	position:absolute;
	overflow: hidden;
}
#box {
	width: 410px;
	height: 410px;
	margin-top: 20px;
	margin-left: 20px;
	position: relative;
}
#sun1 img {
	width: 410px;
	height: 410px;
	}

#slider {
	width: 150px;
	height: 150px;
	background:black;
	opacity: 0.4;
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
	display: none;
}

#sun2 {
	position: absolute;
	left: 410px;
	top: 0;
	display: none;
	width: 410px;
	height: 410px;
	overflow: hidden;
	border: 1px solid #d0cdc7;
	background-color: white;
}

#Bimg {
	width:1120px;
	height:1120px;
	position: absolute;
	left: 0;
	top: 0;
}
.small{
	width:410px;
	height:63px;
	margin-top: 40px;
	margin-left: 20px;
	float:left;
}
.spanl{
	float:left;
}
.spanr{
	float:right;
}
.have{
	width:55px;
	height: 58px;
	float:left;
	border:2px solid #ff9003;
}
.no{
	width:55px;
	height: 58px;
	float:left;
}
.pe{
	width:545px;
	height:630px;
	float:left;
}
.shuijing{
	margin-top: 20px;
	float:left;
}
.xiangou{
	width:465px;
	font-size:12px;
	margin-top: 10px;
	color:#676660;
	float:left;
}
.price{
	width:165px;
	height:17px;
	margin-left: 20px;
	margin-top: 35px;
	float:left;
}
.jiage{
	font-size:12px;
	float:left;
}
.renminbi{
	font-size:14px;
	color:#ff0000;
	margin-left:55px;
	float:left;
}
.huaxian{
	font-size: 12px;
	text-decoration: line-through;
	float:left;
	margin-left: 20px;
}
.jinghanliang{
	margin-left: 25px;
	float:left;
	height:30px;
}
.huazhuangpin{
	font-size: 12px;
	float:left;
	margin-right: 60px;
}
.ml150{
	border:1px solid #ff0853;
	width:60px;
	height:28px;
	float:left;
	text-align: center;
	cursor:pointer;
}
.ml150 p{
	font-size: 10px;
	margin-top: 7px;
}
.notouming{
	margin-top: -4px;
	float:right;
}
.ml200{
	width:60px;
	height:28px;
	float:left;
	text-align: center;
	cursor:pointer;
}
.ml200 p{
	font-size: 10px;
	margin-top: 7px;
}
.touming{
	margin-top: -4px;
	float:right;
	opacity: 0;
}
.number{
	margin-top: 20px;
	margin-left: 25px;
	float:left;
	height:30px;
	width:295px;
	line-height: 30px;
}
.shuliang{
	font-size: 12px;
	float:left;
	margin-right: 60px;
}
.jia{
	width:24px;
	height:27px;
	border:1px solid #cecbc5;
	text-align:center;
	line-height: 27px;
	float:left;
	cursor:pointer;
}
.nojia{
	width:24px;
	height:27px;
	border:1px solid #cecbc5;
	text-align:center;
	line-height: 27px;
	float:left;
	cursor:not-allowed;
}
.shu{
	width:50px;
	height: 27px;
	border:1px solid #aca7a2;
	text-align:center;
	line-height: 27px;
	float:left;
}
.kucun{
	font-size: 12px;
	margin-left: 25px;
}
#cu{
	font-weight: bolder;
}
.choose{
	width:128px;
	height:15px;
	float:left;
	margin-left: 110px;
	line-height: 15px;
}
.nin{
	font-size: 12px;
	float:left;
	margin-right: 20px;
}
.rongliang{
	font-size:14px;
	color:#fe904f;
	float:left;
}
.end{
	width:325px;
	height:40px;
	margin-top:20px;
	margin-left: 25px;
	float:left;
}
.first{
	width:148px;
	height:38px;
	border:1px solid #ff0754;
	text-align: center;
	line-height: 38px;
	color:#ff0754;
	float:left;
	border-radius: 5px;
	margin-right: 25px;
	cursor:pointer;
}
.second{
	width:148px;
	height:38px;
	border:1px solid #ff0754;
	background-color:#ff0754; 
	text-align: center;
	line-height: 38px;
	color:white;
	float:left;
	border-radius: 5px;
	cursor:pointer;
}
.right{
	width:180px;
	height:630px;
	float:left;
	margin-left:5px; 
}
.right img{
	float:left;
}
.heng{
	height:108px;
	width: 100%;
	background-color: #f7f6f5;
	
}
.hengg {
	width:1180px;
	height:108px;
	margin:0 auto;
}
.hengg img{
	float:left;
}
.bottom{
	height:345px;
	width:100%;
	background-color: white;
}
.final{
	width:1180px;
	height:345px;
	margin:0 auto;
}
.up{
	width:150px;
	height:182px;
	float:left;
	border:;
}
.all{
	width:950px;
	height:150px;
	margin-top:30px; 
	margin-left:80px;
	border-bottom: 1px solid #ebeae8;
	float:left;
}
.kuai{
	float:left;
	margin-right: 55px;
	width:65px;
}
.biaoti{
	float:left;
}
.yidui li{
	float:left;
	font-size: 12px;
	color:#666560;
	margin-top:10px;
}
.erweima{
	float:left;
	margin-left: 10px;
}
.final2{
	width:1180px;
	float:left;
}
.about{
	margin:0 auto;
	margin-left:250px; 
	margin-top:20px;
}
.about li{
	float:left;
	height:16px;
	padding-right:8px; 
	font-size: 13px;
	border-right: 1.5px solid #d0cdc7;
	margin-left: 15px;
	line-height: 16px;
}
.about li:last-child{
	border:none;
}
.copy{
	font-size: 11px;
	color:#9a9791;
	float:left;
	margin-left:350px; 
	margin-top:10px;
}
.zengzhi{
	font-size: 11px;
	color:#9a9791;
	float:left;
	text-align: center;
	margin:0 auto;
	width:1080px;
	margin-top: 10px;
}
.finally{
	float:left;
	margin-top: 10px;
	margin-left: 200px;
}
.finally img{
	float:left;
	margin-right: 5px;
}
.di{
	margin-top: 5px;
}
.mengzhao{
	width:100%;
	height:100%;
	background-color:#d4d2cf;
	opacity:0.8;
	position:fixed;
	top:0;
	left:0;
}
.nomengzhao{
	width:100%;
	height:100%;
	background-color:#d4d2cf;
	opacity:0.8;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
.tishi{
	width:400px;
	height:220px;
	margin:auto;
	border:4px solid #aca9d3;
	background-color: white;
	opacity: 1;
	position: absolute;
	text-align: center;
	left:0;
    right:0;
    top: 0;
    bottom: 0;
}
.notishi{
	width:400px;
	height:220px;
	margin:auto;
	border:4px solid #aca9d3;
	background-color: white;
	opacity: 1;
	position: absolute;
	text-align: center;
	left:0;
    right:0;
    top: 0;
    bottom: 0;
    display:none;
}
.cha{
	float:right;
	margin-right: 7px;
	margin-top: 7px;
	cursor:pointer;
}
.dian{
	margin-left: 35px;
}
