*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none
}
a{
	text-decoration: none;
}
#white{
	width:1180px;
	height:170px;
	background-color: white;
	border-bottom: 1px solid #fe6c00;
	margin:0 auto;
}
#lead{
	width:1180px;
	height:130px;
	margin-left: 85px;
	background-color:white;
	margin:0 auto;
	z-index: 180;

}
.le{
	width:100%;
	height:130px;
	background-color: white;
	left:0;
	top:0;
	z-index: 180;
}
#line{
	width:1180px;
	height:25px;
}
#bang{
	font-size: 12px;
	color:#9a9791;
	margin-top:7px;
	float:left;
}
.picqq{
	width:19px;
	height:19px;
	margin-right: 17px;
	margin-top: 4px;
	margin-left:360px;
	border-radius: 1px;
	background:url(img/common_min.png) 0 -31px;
	float:left;
}
.picweixin{
	width:19px;
	height:19px;
	margin-right: 17px;
	margin-top: 4px;
	border-radius: 1px;
	background:url(img/common_min.png) 0 -53px;
	float:left;
}
.picsina{
	width:19px;
	height:19px;
	margin-right: 17px;
	margin-top: 4px;
	border-radius: 1px;
	background:url(img/common_min.png) 0 -75px;
	float:left;
}
.word{
	margin-right: 17px;
	font-size: 13px;
	margin-top: 4px;
	color:#9a9791;
	float:left;
}
.wordfinal{
	margin-right: 5px;
	font-size: 13px;
	margin-top: 4px;
	color:#9a9791;
	float:left;
}
.picmail{
	width:19px;
	height:20px;
	margin-top: 4px;
	border-radius: 1px;
	background:url(img/common_min.png) -4px -113px no-repeat;
	float:left;
}
.picorder{
	width:19px;
	height:20px;
	margin-top: 4px;
	border-radius: 1px;
	float:left;
}
.picorder img{
	width:15px;
	height:15px;
}
.picphone{
	margin-top: 4px;
	border-radius: 1px;
	float:left;
	margin-right: 0.7px;
}
.num{
	font-size: 12;
	font-weight: bolder;
	color:#fe6c00;
	margin-top: 2px;
	float:left;
}
#search{
	height:105px;
	margin:0 auto;
}
#search img{
	margin-top: 15px;
	float:left;
}
.so{
	width:585px;
	float: left;
	margin-left: 108px;
	margin-top: 30px;
	border-radius: 2px;
	margin-right: 88px;
}
.so input{
	width: 500px;
	height:34px;
	border: 3px solid #fe6c00;
	float:left;
}
.bot{
	width:79px;
	height:40px;
	font-size: 18px;
	color:white;
	background-color: #fe6c00;
	float:left;
	text-align: center;
	line-height: 40px;
}
.gray{
	width:84px;
	height:38px;
	border:1px solid #e6e5e2;
	border-radius: 2px;
	float:left;
	margin-top: 30px;
	text-align: center;
}
.picone{
	width: 15px;
	height:14px;
	background:url(img/common_min.png) -4px -98px no-repeat;
	margin:0 auto;
	margin-top: 6px;
}
.gray p{
	font-size: 12px;
	color:#9a9791;
	margin-top: 4px;
}
.pictwo{
	width: 15px;
	height:14px;
	background:url(img/common_min.png) -4px -113px no-repeat;
	margin:0 auto;
	margin-top: 6px;
}
.org{
	width:84px;
	height:38px;
	border:1px solid #e6e5e2;
	border-radius: 2px;
	float:left;
	margin-top: 30px;
	text-align: center;
	background-color: #ff4d04;
}
.picthree{
	width: 15px;
	height:14px;
	background:url(img/common_min.png) -4px -133px no-repeat;
	margin-top: 15px;
	margin-left: 7px;
	float:left;
}
.org p{
	color: white;
	font-size: 14px;
	float:left;
	margin-top:12px;
}
.liebiao{
	width:556px;
	height:13px;
	margin-left: 7px;
	float:left;
}
.liebiao li{
	float:left;
	padding-right: 6px;
	padding-left: 6px;
	height: 16px;
	font-size: 13px;
	margin-top:9px;
	border-right:1px solid #ebe7e7;
}
.last{
	float:left;
	font-size: 13px;
	margin-top:8px;
	margin-left: -4px;
}
.black{
	color:#666560;
}
.red{
	color:red;
}
.blue{
	color:#aca9d3;
}
.kind{
	height:40px;
	width:1180px;
	margin:0 auto;
}
.orange{
	width:170px;
	height:40px;
	background-color:#ff4d04;
	float:left;
	color:white;
	text-align: center;
	line-height: 40px;
}
#baise{
	color:white;
}
.another{
	margin-top: 10px;
	margin-left: 50px;
	float:left;
}
.kind a{
	color:black;
}
.kind a:hover{
	color:#ff4d04;
}
.kind img{
	float:left;
}
.mid{
	width:100%;
	height:550px;
	background-color: #f8f7f6;
}
.neirong{
	width:1180px;
	height:550px;
	margin:0 auto;
}
.celan{
	height:550px;
	width:170px;
	float:left;
}
.shang{
	width:170px;
	height:423px;
	border-bottom:1px solid #fe6c00;
	float:left;
}
.tiao{
	height: 423px;
	width:25px;
	background-color: #4c4c4a;
	float:left;
}
.tiao span{
	float:left;
	color:#ff4d4b;
	margin-left:5px;
	margin-top: 8px;
}
#far{
	margin-top: 25px;
}
#farr{
	margin-top: 28px;
}
.many{
	width:145px;
	height:423px;
	float:left;
	background-color: white;
}
.si{
	margin-left: 13px;
	margin-top: 13px;
	margin-bottom:3px;
	float:left;
}
.si li{
	float:left;
	font-size: 12px;
	margin-right: 8px;
}
.si a{
		color:black;
}
.xia{
	width:170px;
	height:125px;
	float:left;
	background-color: white;
}
.yi{
	width:170px;
	height:25px;
	float:left;
	margin-top: 10px;
	margin-bottom: 4px;
}
.yuan{
	width:22px;
	height:23px;
	float:left;
	margin-left:7px;
	margin-right: 10px;
	background:url(img/sort-icon-qa.png) 0 0;
}
.yi span{
	font-size: 14px;
	color:#855d38;
	float:left;
}
.yuann{
	width:22px;
	height:23px;
	float:left;
	margin-left:7px;
	margin-right: 10px;
	background:url(img/sort-icon-qa.png) 0 -60px;
}
.yuannn{
	width:22px;
	height:23px;
	float:left;
	margin-left:7px;
	margin-right: 10px;
	background:url(img/sort-icon-qa.png) 0 -120px;
}
.zhong{
	width:800px;
	height:550px;
	float:left;
	border-right: 1px solid #fe6c00; 
}
.zhong img{
	float:left;
}
.tu{
	width:800px;
	height:363px;
	float:left;
	/*background:url(img/bann1.jpeg) no-repeat;*/
	border-bottom: 2px solid #fe6c00;
	position: relative;
	overflow: hidden;
}
.slider {
	width: 6400px;
	position: absolute;
	left: -800px;
}
.anniu{
	position: absolute;
	float:left;
	margin-left: 330px;
	margin-top: 320px;
}
#leftbot{
	width:60px;
	height:60px;
	background:url(img/btn.gif) 0 -120px;
	left:15px;
	margin-top: 150px;
	opacity: 0;
	position: absolute;
	cursor: pointer;
}
#rightbot{
	width:60px;
	height:60px;
	background:url(img/btn.gif) 0 -60px;
	right:15px;
	margin-top: 150px;
	opacity: 0;
	position: absolute;
	cursor: pointer;
}
.slide {
	width: 800px;
	float: left;
}
.anniu div{
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#f8f7f6;
	float:left;
	margin-right: 5px;
	text-align: center;
	font-size: 17px;
	cursor: pointer;
}
.anniu .active {
	background: #fe6c00;
}
.you{
	width:209px;
	height:550px;
	float:left;
}
.bangbang{
	width:209px;
	height:45px;
	border-bottom: 1px solid #ebeae7;
	background-color: white;
	line-height: 44px;
}
.la{
	float:left;
	margin-top:15px;
	margin-left:20px;
	margin-right:12px;
}
.bangbang span{
	color:#fe6c00;
	font-weight: bolder;
	font-size: 13px;
	float:left;
}
.jian{
	float:left;
	margin-top:20px;
	margin-left:75px;
}
.long{
	width:209px;
	height:320px;
	background-color: white;
	float:left;
	border:1px solid #ebeae7;
	position: relative;
	overflow: hidden;
}
.gonggao{
	height:650px;
	position: absolute;
	position: relative;
	overflow: hidden;
	width:209px;
}
.much{
	margin-top: 9px;
	margin-left: 15px;
	float:left;
	color:#fe6c00;
	font-size: 12px;
	font-weight:bolder;
}
.a{
	margin-right: 10px;
	float:left;
}
.b{
	float:left;
}
.huafei{
	width:209px;
	height:182px;
	background-color: white;
	float:left;
}
.call{
	height:25px;
	width:209px;
	float:left;
}
.call img{
	float:left;
	margin-top: 8px;
	margin-left: 15px;
}
.heise{
	float:left;
	font-size: 12.5px;
	margin-top: 8px;
	margin-left: 15px;
	margin-right: 5px;
}
.chengse{
	float:left;
	font-size: 12.5px;
	margin-top: 8px;
	color:#ff4d04;
}
.number{
	width:209px;
	float:left;
}
.number input{
	border: 1px solid #aca7a2;
	width:122px;
	height:22px;
	margin-top: 10px;
	margin-left: 15px;
	float:left;
}
.money{
	width:60px;
	height:17px;
	border: 1px solid #aca7a2;
	float:left;
	margin-left: 15px;
	margin-top: 10px;
}
.qian{
	margin-top: 8px;
	margin-left: 8px;
	font-size: 14px;
	color: #ff4d04;
	float:left;
}
#qiann{
	margin-top: 8px;
	margin-left: 4px;
	font-size: 14px;
	color: #ff4d04;
	float:left;
}
#qiannn{
	float:left;
	width:120px;
}
.ok{
	width:177px;
	height:25px;
	border-radius: 6px;
	background-color: #ff4d04;
	color:white;
	margin-left: 15px;
	margin-top: 6px;
	text-align: center;
	line-height: 25px;
	float:left;
}
.bottom{
	height:345px;
	width:100%;
	background-color: #f8f7f6;
}
.final{
	width:1180px;
	height:345px;
	margin:0 auto;
}
.up{
	width:150px;
	height:182px;
	float:left;
	border:;
}
.all{
	width:950px;
	height:150px;
	margin-top:30px; 
	margin-left:80px;
	border-bottom: 1px solid #ebeae8;
	float:left;
}
.kuai{
	float:left;
	margin-right: 55px;
	width:65px;
}
.biaoti{
	float:left;
}
.yidui li{
	float:left;
	font-size: 12px;
	color:#666560;
	margin-top:10px;
}
.erweima{
	float:left;
	margin-left: 10px;
}
.final2{
	width:1180px;
	float:left;
}
.about{
	margin:0 auto;
	margin-left:250px; 
	margin-top:20px;
}
.about li{
	float:left;
	height:16px;
	padding-right:8px; 
	font-size: 13px;
	border-right: 1.5px solid #d0cdc7;
	margin-left: 15px;
	line-height: 16px;
}
.about li:last-child{
	border:none;
}
.copy{
	font-size: 11px;
	color:#9a9791;
	float:left;
	margin-left:350px; 
	margin-top:10px;
}
.zengzhi{
	font-size: 11px;
	color:#9a9791;
	float:left;
	text-align: center;
	margin:0 auto;
	width:1080px;
	margin-top: 10px;
}
.finally{
	float:left;
	margin-top: 10px;
	margin-left: 200px;
}
.finally img{
	float:left;
	margin-right: 5px;
}
.di{
	margin-top: 5px;
}
.people{
	height:105px;
	width:130px;
	right:0px;
	position:fixed;
	top:80px;
	z-index: 10000;
}
.people1{
	height:105px;
	width:130px;
	right:-90px;
	position:fixed;
	top:80px;
	z-index: 10000;
}
.xiaobang{
	width:129px;
	height:45px;
	margin-top:-4px;
	margin-left: 1px;
}
.youhuiquan{
	width:129px;
	height:140px;
	margin-top:5px;
	background-color: #fd9a6e;
	margin-left: 1px;
	position:fixed;
	top:185px;
	right:0;
	z-index: 10000;
}
.youhuiquan1{
	width:129px;
	height:140px;
	margin-top:5px;
	background-color: #fd9a6e;
	margin-left: 1px;
	position:fixed;
	top:185px;
	right:-90px;
	z-index: 10000;
}
.youhuiimg{
	float:left;
}
.dl{
	height:60px;
	width:69px;
	margin-top:40px;
	text-align: center;
	float:left;
}
.wdl{
	font-size: 12px;
	font-weight: bolder;
	margin-top: 10px;

}
.btdl{
	width:35px;
	height:17px;
	border:1px solid white;
	color:white;
	font-size: 11.5px;
	margin-top: 12px;
	margin-left: 17px;
	border-radius: 1px;
	text-align: center;
	line-height: 17px;

}
.sjer{
	height:145px;
	width:129px;
	margin-top:5px;
	background-color: #fd9a6e;
	margin-left: 1px;
	position:fixed;
	top:330px;
	right:0;
	z-index: 10000;
}
.sjer1{
	height:145px;
	width:129px;
	margin-top:5px;
	background-color: #fd9a6e;
	margin-left: 1px;
	position:fixed;
	top:330px;
	right:-90px;
	z-index: 10000;
}
.sj{
	width:129px;
	height:26px;
	float:left;
	margin-top: 15px;
	margin-left: 10px;
}
.yuandi{
	float:left;
	width:25px;
	height:25px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	line-height:25px;
}
.sj span{
	font-size: 12px;
	color:white;
	margin-left: 10px;
}
.erw{
	margin-left: 15px;
	margin-top: 10px;
}
.erw1{
	margin-left: 15px;
	margin-top: 10px;
	display:none;
}
.xiaoer{
	margin-top: 50px;
	margin-left: 12px;
}
.xiaoer1{
	margin-top: 50px;
	margin-left: 12px;
	display: none;
}
.car{
	width:129px;
	height:135px;
	margin-top:5px;
	background-color: #ff5e00;
	margin-left: 1px;
	position:fixed;
	top:480px;
	right:0;
	z-index: 10000;
}
.car1{
	width:129px;
	height:135px;
	margin-top:5px;
	background-color: #ff5e00;
	margin-left: 1px;
	position:fixed;
	top:480px;
	right:-90px;
	z-index: 10000;
}
.car img{
	height:135px;
}
.car1 img{
	height:135px;
}
